{% extends 'index/model.htm' %}
{% block page  %}
	
	<!-- PAGE OPENING ANIMATION -->
	<script type="text/javascript">		
        
        //PAGE IS CLOSED ON START
        jQuery(document).ready(function(){
            jQuery('#page').css({'display':'inline','width':'300px','overflow':'hidden','margin-right':'340px'});
            jQuery('#sidebar').css({'margin-left':'326px'});	
        });
        
        //WHEN ALL ELEMENTS ARE LOADED
        jQuery(window).load(
            function() {			
                jQuery('#hp_preloader').delay(800).animate({'opacity':'0'},1400,function(){
                    
                    //HOMEPAGE NIVO SLIDER STARTS
                    
                    jQuery('#slider-nivo').nivoSlider({
                        controlNav:true,
                        controlNavThumbs:false,			
                        keyboardNav:false,
                        pauseOnHover:false,
                        prevText:'',			
                        nextText:'',
                        effect:'fade',
                        animSpeed:300,
                        pauseTime:4000
                    });
                    
                            
                    
                    //REMOVE LOADING 
                    jQuery(this).remove();
                        
                    //PAGE OPENING ANIMATION	
                    jQuery('#sidebar').delay(800).animate({'margin-left':'0px'},2100);		
                    jQuery('#page').delay(800).animate({'margin-right':'0px','width':'666px'},2100);		
                    
                });				
            }
        );			
        </script>
        <div id="hp_preloader"></div>
    
        <!-- STYLER FOR DEMO -->
		<div id="page">
			<div id="content">
			
				<!-- NIVO SLIDER -->
				<div class="slider-nivo-holder">
					<div id="slider-nivo">
						<img src="/static/index/images/nivoslider1.jpg" alt="" />
						<img src="/static/index/images/nivoslider2.jpg" alt="" />
						<img src="/static/index/images/nivoslider3.jpg" alt="" />
						<img src="/static/index/images/nivoslider4.jpg" alt="" />
					</div>
				</div>
		
				<!-- WELCOME TEXT -->
				<h3 style="text-align: center;">只有经历过折腾做过看起来徒劳无功的事</br> 才会明白原点是个什么东西</h3>
				
				<!-- ELEGANT HORIZONTAL LINE -->
				<div class="hr"></div>
				
				<!-- NUMBERED LIST -->
				<ul class="list_num">
					<li><span>1</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius, risus vel euismod tempor, justo nibh lacinia leo, quis eleifend diam tortor quis turpis.</li>
					<li><span>2</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius, risus vel euismod tempor, justo nibh lacinia leo, quis eleifend diam tortor quis turpis.</li>
					<li class="last"><span>3</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius, risus vel euismod tempor, justo nibh lacinia leo, quis eleifend diam tortor quis turpis.</li>
				</ul>				
				
				<!-- SIMPLE HORIZONTAL LINE -->
				<div class="hr2"></div>
				
				<!-- PURCHASE BUTTON -->
				<div class="purchase_button">
					<p>An elegant XHTML site template with many features included! Start using today!</p>
					<a href="#/user/ThemePrince/portfolio?ref=themeprince" class="purchase_button-black">BUY IT NOW!</a>
				</div>

				<div class="hr2"></div>
				
				<!-- FEATURE TEXTS WITH SMALL ICONS -->
				<div class="small_icons">
					<div class="small_icon-img"><img src="/static/index/images/icon_list1.png" alt="" /></div>
					<p class="small_icon-title">Font Replacement</p>
					<p class="small_icon-text">25+ free fonts included in this theme for @font-face replacement or include your own!</p>
				</div>
				<div class="small_icons">
					<div class="small_icon-img"><img src="/static/index/images/icon_list2.png" alt="" /></div>
					<p class="small_icon-title">Shortcode Generator</p>
					<p class="small_icon-text">There are more than 20 shortcodes which can be easily added in page/post editor!</p>
				</div>
				<div class="small_icons-last">
					<div class="small_icon-img"><img src="/static/index/images/icon_list3.png" alt="" /></div>
					<p class="small_icon-title">8 built-in Widgets</p>
					<p class="small_icon-text">Unlimited widget areas and  8 built-in widgets like popular/recent posts, Twitter feed, ajax contact form, etc.</p>
				</div>
				<div class="small_icons">
					<div class="small_icon-img"><img src="/static/index/images/icon_list4.png" alt="" /></div>
					<p class="small_icon-title">Sliders</p>
					<p class="small_icon-text">Create your unique background sliders and on-page sliders for  each menu.</p>
				</div>
				<div class="small_icons">
					<div class="small_icon-img"><img src="/static/index/images/icon_list5.png" alt="" /></div>
					<p class="small_icon-title">PSD, Documentation</p>
					<p class="small_icon-text">The PSD files and a    documentation are included for this wordpress theme.</p>
				</div>
				<div class="small_icons-last">
					<div class="small_icon-img"><img src="/static/index/images/icon_list6.png" alt="" /></div>
					<p class="small_icon-title">Support and Updates</p>
					<p class="small_icon-text">All reported bugs will be fixed and uploaded as soon as possible.</p>
				</div>
				
			</div><!-- #content ends -->	
		</div><!-- #page ends -->
	{% endblock  %}