{% extends 'index/model.htm' %} {% block page %}
<div id="page">
	<div id="content">

		<h1>{{ content.title }}</h1>

		<div class="hr"></div>

		<!-- LARGE IMAGE WITH FANCYBOX -->
		<span class="large_image">
					<a href="images/pic-tn-large.jpg" rel="" class="fancybox">
						<span class="imghover_large"></span>
		<img src="images/pic-tn-large.jpg" width="582" height="184" alt="" />
		</a>
		</span>

		<div class="vspace"></div>

		<!-- ARTICLE -->
		{{ content.editorValue|safe }}
		<div class="hr2"></div>

		<!-- POST INFO -->
		<p class="blog-post-info">&nbsp;
			<img src="images/icon-time.png" alt="" /><b>访问时间：</b>&nbsp;{{ content.createtime }}&nbsp;&nbsp;
			<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
			<img src="images/icon-category.png" alt="" /><b>标签：</b>&nbsp;{{ content.label }}&nbsp;&nbsp;
			<img src="images/sep.gif" alt="" />&nbsp;&nbsp;
			<img src="images/icon-comment.png" alt="" />&nbsp;<b>访问数:</b>{{ content.clicks }} times&nbsp;&nbsp;
		</p>

		<div class="hr2"></div>

		<!-- COMMENTS -->
		<h2>Comments</h2>

		<ul id="comments-list">

			{% for item1 in reply1 %}
			<li>

				<div id="aaa{{ item1.id }}" class="comments-text">
					评论时间：{{ item1.time }}
					<br /><b>用户名：{{ item1.username }}</b><br />评论内容：{{ item1.content }}
					<br /><br />

					<a href="#respond" onclick="ssss({{ item1.id }})">Reply</a>
				</div>
			</li>
			{% for item2 in reply2 %} {% if item2.fid == item1.id %}
			<li>
				<ul>
					<li>

						<div class="comments-text">
							1回复时间：{{ item2.time }}
							<br /><b>用户名：{{ item2.username }}</b><br />回复【{{ item1.username }}】：{{ item2.content }}
							<br /><br />
							<a href="#respond" onclick="ssss({{ item2.id }})">Reply</a>

						</div>
					</li>


				</ul>

			</li>

			{% endif %} {% endfor %}
			<div class="hr2"></div> {% endfor %}

		</ul>

		<div class="hr2"></div>

		<!-- COMMENTS REPLY -->
		<h2>Leave a Comment</h2>


		<ul name="respond" id="respond">
			<p id="p1">
				<input type="hidden" name="fid" id="fid" value="0" /><input type="hidden" name="tid" id="tid" value="0" />
			</p>
			<li>

				<input name="username" id="username" type="text" class="comment-textinput" value="" />
				<label for="author">Name <span class="required">*</span></label>
			</li>
			<li>
				<input name="email" id="email" type="text" class="comment-textinput" value="" />
				<label for="email">Email <span class="required">*</span> <span class="info">(will never be published)</span></label>
			</li>
			<li>
				<textarea rows="" cols="" class="comment-textarea" name="content" id="content11"></textarea>
			</li>
			<li>
				<input onclick="reply()" type="submit" id="submit_btn" value="OK" />
			</li>
		</ul>




	</div>
	<!-- #content ends -->
</div>
<!-- #page ends -->

<script type="text/javascript">
	function ssss(fid) {
		alert(fid);
		document.getElementById("p1").innerHTML = "<input type=\"hidden\" name=\"fid\" id=\"fid\" value=\"" + fid + "\" /><input type=\"hidden\" name=\"tid\" id=\"tid\" value=\"1\" />";
	}
	function reply() {
		var content11 = $("#content11").val();
		var username = $("#username").val();
		var email = $("#email").val();
		var fid = $("#fid").val();
		var tid = $("#tid").val();
		var articleid = {{ content.id }
	};
	$.get("/reply.php", { "username": username, 'email': email, 'fid': fid, 'tid': tid, 'content': content11, 'articleid': articleid }, function () {

		alert('评论成功！');
	});
	
				}

</script>
{% endblock %}