{% extends 'admin/core.htm' %} {% block content %}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品分类
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
		 title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<div class="pos-a" style="width:150px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5">
			<div class="panel panel-default">
				<div class="panel-header">分类（点击修改）</div>
				<div class="panel-body">
					<ul id="Huifold1" class="Huifold">
						{% for item in skills %}
						<a href="?id={{ item.id }}" ><li class="item">
							<h4>{{ item.name }}</h4>
						</li></a>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<article class="cl pd-20">
			<table class="table">
				<tr>
					<td width="200" class="va-t">
						<ul id="treeDemo" class="ztree"></ul>
					</td>
					<td class="va-t">
						<div class="pd-20">
							<form action="?id={{ skill.id }}" method="post" class="form form-horizontal" id="form-user-add">
								<div class="row cl">
									<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
									<div class="formControls col-5">
										<input type="text" class="input-text" value="{{ skill.name }}" placeholder="" id="user-name" name="name">
									</div>
									{% csrf_token %}
									<div class="col-5"> </div>
								</div>
	
								<div class="row cl">
									<div class="col-9 col-offset-2">
										<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
									</div>
								</div>
							</form>
						</div>

					</td>
				</tr>
			</table>
		</article>
	</div>
</section>
{% endblock %}